[Unit]
Description=Mobula Network
After=systemd-udevd.service systemd-sysctl.service systemd-sysusers.service
Before=network-pre.target openvswitch-nonetwork.service ovs-vswitchd.service
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart={{install_dir}}/start.sh
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
